@charset "utf-8";
/* CSS Document */

body{
	margin:0 auto;
	padding:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12 px;
	margin-bottom: 0px;
  	background:#F8F8F8;
	}

div,p,h1,h2,h3,h4,h5,ul,li,ol,img
{
	margin:0px auto;
	padding:0px 0px 0px 0px;
	border:0px;
	text-align: center;
	}
a
{
 text-decoration:none;
 color:#333333;
}
a:visited
{
 text-decoration:none;
 color:#669999;
}
a:hover
{
 text-decoration:underline;
 color:#000000;
}

#main_content
{
width: 60%;
background-color: #E0E0E0;
text-align: left;
padding: 10px;
border-radius: 15px;
}
#main_content h2
{
display: inline;
}
#main_content a button
{
display: inline;
float: right;
}

#main_content form
{
text-align: center;
}

#board_list 
{
background-color: #DBEFF0;
border: 5px;
border-bottom: 0;
border-color: #AAA;
border-style: solid;

}
#board_list .b_node
{
font-size:20 px;
border-style: solid;
border-width: 0px 0px 5px 0px;
border-color: #AAA;	
}

#board_list .b_node:hover
{
background-color: #69F;	
}
#board_list .b_node h4
{
display: inline;
}

#board_list .b_node .private
{
display: inline;
color: #FF3222
}

#my_boards
{
background-color: #DBEFF0;
border: 5px;
border-color: #AAA;
border-style: solid;
}

#my_boards .my_board
{
font-size:20 px;
padding-top: 5px;
padding-bottom: 5px;
}

#my_boards .my_board h4
{
display:inline;
}
#my_boards .my_board p
{
display:inline;
padding-left: 4px;
}
