<html>
  <head>
  <link rel="stylesheet" href="styles/style.css" />
    <title></title>
  </head>
  <body>
    <div id='glob_container'>
      <div id='header'>
        <h2>Add CorkBoard</h2>
      </div>
      <div id='main_content'>
        <form action='newboard.html' method='post'>
          <label>Title<input type='text' name='title' /></label>
          <label>Category<select name='category'><option value='1'>Hammers</option></select></label>
          <label>password<input type='text' name='title' /></label>
          <p>empty password -> public board; non-empty -> private board</p>
          <input type='submit' value='Add' />
        </form>
      </div>
    </div>
  </body>
</html>
