<html>
  <head>
  <link rel="stylesheet" href="styles/style.css" />
    <title></title>
  </head>
  <body>
    <div id='glob_container'>
      <div id='header'>
        <h2>Add PushPin</h2>
        <h3>To Gardens I Love</h3>
      </div>
      <div id='main_content'>
        <form action='board1.html' method='post'>
          <label>URL<input type='text' name='url' /></label>
          <label>Description<textarea name='url' cols='50' rows='15'></textarea></label>
          <label>Tags<input type='text' name='tags' /></label>
          <input type='submit' value='Add' />
        </form>
    </div>
  </body>
</html>
