<html>
  <head>
  <link rel="stylesheet" href="styles/style.css" />
    <title></title>
  </head>
  <body>
    <div id='glob_container'>
      <div id='header'>
        <h1>home page</h1>
      </div>
      <div id='main_content'>
        <h2>Recent CorkBoard Updates</h2>
        <a href='pop_tags.html'><button name='pop_tags' value='Popular Tags'>Popular Tags</button></a>
        <div id='board_list'>
          <a href='board_1.html'>
          <div class='b_node'>
            <h4>Pools</h4>
            <p>Updated by <em>Sybil Crawley</em> on <em>Javuary 17, 2012</em> at <em>1:49 PM</em></p>
          </div></a>
          <a href='board_1.html'>
          <div class='b_node'>
            <h4>Gardens I Love</h4>
            <p>Updated by <em>Michael Crawley</em> on <em>January 17, 2012</em> at <em>8:05 PM</em></p>
          </div>
          </a>
          <a href='board_1.html'>
          <div class='b_node'>
            <h4>Birthday Ideas</h4> <h4 class='private'>(private)</h4>
            <p>Updated by <em>Joseph Molesley</em> on <em>January 16, 2012</em> at <em>4:32 PM</em></p>
          </div>
          </a>
          <a href='board_1.html'>
          <div class='b_node'>
            <h4>Vacation Spots</h4>
            <p>Updated by <em>Elsie Hughes</em> on <em>January 14, 2012</em> at <em>6:27 AM</em></p>
          </div>
          </a>
        </div>
        <h2>My CorkBoards</h2><a href='add_board.html'><button name='add_board' value='Add CorkBoard'>Add CorkBoard</button></a>
        <div id='my_boards'>
          <div class='

      </div>
    </div>
  </body>
</html>
