<html>
  <head>
    <title></title>
  </head>
  <body>
    <div id='glob_container'>
      <div id='header'>
        <img src='images/not_sign.gif' width='30px' height='30px' />
        <h4 class='red-text'>The CorkBoard you are trying to view is private. Please enter the Corkboard's password to continue.</h4>
      </div>
      <div id='main_content'>
        <form action='board_1.html' method='post'>
          <label>Password<input type='password' name='pass' /></label>
        </form>
      </div>
    </div>
  </body>
</html>
