<html>
  <head>
    <title></title>
  </head>
  <body>
    <div id='glob_container'>
      <div id='header'>
        <h2>Popular Tags</h2>
      </div>
      <div id='main_content'>
        <table id='tag_tbl'>
          <tr>
            <th><p>Tag</p></th>
            <th><p>PushPins</p></th>
            <th><p>Unique CorkBoards</p></th>
          </tr>
          <tr>
            <td><p>Face</p></td>
            <td><p>55</p></td>
            <td><p>22</p></td>
          </tr>
          <tr>
            <td><p>Face</p></td>
            <td><p>55</p></td>
            <td><p>22</p></td>
          </tr>
          <tr>
            <td><p>Face</p></td>
            <td><p>55</p></td>
            <td><p>22</p></td>
          </tr>
          <tr>
            <td><p>Face</p></td>
            <td><p>55</p></td>
            <td><p>22</p></td>
          </tr>
          <tr>
            <td><p>Face</p></td>
            <td><p>55</p></td>
            <td><p>22</p></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
