<html>
  <head>
  <link rel="stylesheet" href="styles/style.css" />
    <title></title>
  </head>
  <body>
    <div id='glob_container'>
      <div id='header'>
        <h2>PushPin Search Result</h2>
      </div>
      <div id='main_content'>
        <table id='search_result'>
          <th>
            <td><p>PushPin Description</p></td>
            <td><p>CorkBoard</p></td>
            <td><p>Owner</p></td>
          </th>
          <tr>
            <td><p>Ceder trees by the lake</p></td>
            <td><p>Backyard Ideas</p></td>
            <td><p>Joseph Molesely</p></td>
          </tr>
          <tr>
            <td><p>Ceder trees by the lake</p></td>
            <td><p>Backyard Ideas</p></td>
            <td><p>Joseph Molesely</p></td>
          </tr>
          <tr>
            <td><p>Ceder trees by the lake</p></td>
            <td><p>Backyard Ideas</p></td>
            <td><p>Joseph Molesely</p></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
