<html>
  <head>
  <link rel="stylesheet" href="styles/style.css" />
    <title></title>
  </head>
  <body>
    <div id='glob_container'>
      <div id='header'>
        <h2>View CorkBoard</h2>
      </div>
      <div id='main_content'>
        <div id='top_info'>
          <h4 id='cb_owner'><em>Michael Crawley</em></h4><button id='follow_btn'>Follow</button>
          <h3 id='cb_title'>Gardens I Love</h3>
          <h4 id='cb_cat'>Home & Garden</h4>
          <p id='updated'>Last Updated January 16, 2012 at 11:57AM</p><button id='add_btn'>Add PushPin</button>
        </div>
        <div id='gallery'>
          <img src='pic1.jpg' class='thumb_pic' />
          <img src='pic1.jpg' class='thumb_pic' />
          <img src='pic1.jpg' class='thumb_pic' />
          <img src='pic1.jpg' class='thumb_pic' />
        </div>
        <div id='bottom_info'>
          <img src='glass.jpg' id='watch_icon' />
          <p>This Corkboard has <strong>8</strong> watchers.</p><button id='watch_btn'>Watch</button>
        </div>
      </div>
    </div>
  </body>
</html>
